<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="logPath">C:\\logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${logPath}/logger.log" filePattern="${logPath}/patternlogger.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.veeva.automation.framework.rohit" level="trace">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>